/*
Theme Name: Twenty Sixteen
Description: IE8 specific style.
*/

code {
	background-color: transparent;
	padding: 0;
}

.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	text-decoration: underline;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus,
.entry-content .wp-audio-shortcode a,
.entry-content .wp-playlist a,
.page-links a {
	text-decoration: none;
}

.site {
	margin: 21px;
}

.site-inner {
	max-width: 710px;
}

.site-header {
	padding-top: 3.9375em;
	padding-bottom: 3.9375em;
}

.site-branding {
	float: left;
	margin-top: 1.3125em;
	margin-bottom: 1.3125em;
}

.site-title {
	font-size: 28px;
	line-height: 1.25;
}

.site-description {
	display: block;
}

.menu-toggle {
	float: right;
	font-size: 16px;
	margin: 1.3125em 0;
	padding: 0.8125em 0.875em 0.6875em;
}

.site-header-menu {
	clear: both;
	margin: 0;
	padding: 1.3125em 0;
}

.site-header .main-navigation + .social-navigation {
	margin-top: 2.625em;
}

.header-image {
	margin: 1.3125em 0;
}

.site-main {
	margin-bottom: 5.25em;
}

.post-navigation {
	margin-bottom: 5.25em;
}

.post-navigation .post-title {
	font-size: 28px;
	line-height: 1.25;
}

.pagination {
	margin: 0 7.6923% 4.421052632em;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	display: none;
}

/* restore screen-reader-text */
.pagination .current .screen-reader-text {
	position: absolute !important;
}

.pagination .page-numbers {
	display: inline-block;
	font-weight: 400;
}

.image-navigation .nav-previous,
.image-navigation .nav-next,
.comment-navigation .nav-previous,
.comment-navigation .nav-next {
	display: inline-block;
}

.image-navigation .nav-previous + .nav-next:before,
.comment-navigation .nav-previous + .nav-next:before {
	content: "\002f";
	display: inline-block;
	filter: alpha(opacity=70);
	padding: 0 0.538461538em;
}

.site-main > article {
	margin-bottom: 5.25em;
}

.entry-title {
	font-size: 33px;
	line-height: 1.2727272727;
	margin-bottom: 0.8484848485em;
}

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
	border-width: 4px 0 0 0;
	padding: 0.9473684211em 0 0;
	width: 50%;
}

.entry-footer > span:after {
	content: "\002f";
	display: inline-block;
	filter: alpha(opacity=70);
	padding: 0 0.538461538em;
}

.updated {
	display: none;
}

.updated.published {
	display: inline;
}

.comment-author {
	margin-bottom: 0;
}

.comment-author .avatar {
	height: 42px;
	position: relative;
	top: 0.25em;
	width: 42px;
}

.comment-list .children > li {
	padding-left: 1.75em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 3.5em;
}

.comment-reply-link {
	margin-top: 0;
}

.comments-area,
.widget,
.content-bottom-widgets .widget-area {
	margin-bottom: 5.25em;
}

.sidebar,
.widecolumn {
	margin-bottom: 5.25em;
}

.site-footer .main-navigation,
.site-footer .social-navigation {
	display: none;
}

.rtl .site-branding {
	float: right;
}

.rtl .menu-toggle {
	float: left;
}

.rtl .comment-list .children > li {
	padding-right: 1.75em;
	padding-left: 0;
}

	/*-------------------- CUSTOM --------------------*/
#secondary {
	position: absolute !important;
	float: left;
	width: 40%;
	height: 100%;
	margin-left: 60%;
	background: #fff;
}
 
#text-6 {
	width: 50px;
}
#text-2 {
	margin-top: -35px !important;
}

/*-------------------- MEDIA --------------------*/

/* 1. Ansicht Tablet */
@media only
screen and (max-width:1525px),
screen and (min-device-width:44.375em) and (max-device-width:1525px) and (orientation: portrait) {
	
	/*-------------------- NAVIGATION --------------------*/	
	ul#menu-main-nav > li:nth-child(1){
		margin: 0px;
	}    
    
	#menu-toggle {
		display: inline-block;
		margin: 1% 4%;
		color: #333;
		background-color: #d1d1d1;
		outline: #E6161C;
		border: 0;
		border-radius: 1px;
		border: 3px solid #fff;
		-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);	
	}
	#menu-toggle:hover,
	#menu-toggle:focus {
		color: 	#fff;
		outline: #E6161C;
		background: #E6161C;
		border: 3px solid #fff;
	}
	#menu-toggle.toggled-on {
		color: #fff;
		background: #E6161C;
	}
	
	.dropdown-toggle {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: #1a1a1a;
		content: "";
		height: 48px;
		padding: 0;
		position: absolute;
		right: 30px;
		text-transform: none;
		top: 10px;
		width: 48px;
	}
	.dropdown-toggle:after {
		border-left: 1px solid #d1d1d1;
		content: "\f431";
		font-size: 24px;
		left: 0;
		top: 0;
		position: relative;
		width: 48px;
	}
	.dropdown-toggle.toggled-on {
		height: 40px;
		margin: 2px auto;
	}
	.dropdown-toggle.toggled-on:after {
		border-left: 1px solid #d1d1d1;
	}
	.dropdown-toggle:focus:after {
		border-left: 1px solid #d1d1d1;
		color: #333;
	}
	.dropdown-toggle:hover {
		color: #333 !important;
		outline: #fff;
	}
	.dropdown-toggle:focus {
		color: #333 !important;
		outline: #fff;
	}
	button.toggled-on:focus {
		outline: #fff;
		color: #fff !important;
	}

	div.header-img {
		margin: 0 !important;
	}
	#site-header-menu {
		display: none;
		top: 0px;
	}
	#site-header-menu.toggled-on {
		display: block;
	}  
    #menu-main-nav { 
		background: #fff; 
		border-top: 1px solid #d1d1d1;
	}
	#menu-main-nav li {
		border: 0;
		border-top: 1px solid #d1d1d1;
	}
	#menu-main-nav > li:nth-child(1) {
		border-top: 0;
	}
	#menu-main-nav > li:last-child {
		border-bottom: 1px solid #d1d1d1;
	}
	.main-navigation ul ul.sub-menu.toggled-on:after {
		display: none;
	}
	.main-navigation ul ul.sub-menu.toggled-on:before {
		display: none;
	}

	.main-navigation ul ul.sub-menu.toggled-on {
		display: block;
		margin: 0;
		top: 10px;
		left: 17px;
		z-index: 99999;
		position: relative;
		width: 100%;
		border: 0;
	}	
	
	div.site-header-menu {
		left: 0%;
		width: 100%;
		padding: 0 0 0 0%;
		margin: 0 auto;
		position: relative;
		z-index: 999999;
		background: transparent;
		max-width: 100%;
	}
	ul#menu-main-nav li {
		width: 100%;
		max-width: 100%;
        text-align: left;
	}	
	
	div.header-image {
		margin: 0;
	}
	aside.widget-area section.widget_text p {
		padding: 0;
	}
	div.textwidget table {
		width: 100%;
	}
	div.textwidget > table > tbody > tr > td:first-child {
		padding-left: 0;
	}
	
	section#text-6 {
		width: 200px !important;
	}
	
}

/* 2. Ansicht Phone */
@media only
screen and (max-width:970px),
screen and (min-device-width:321px) and (max-device-width:970px) and (orientation: portrait) {
	/*-------------------- IMPRINT --------------------*/
	body.page-id-15 h3:nth-of-type(2) {
		margin-top: -30px;
	}
	body.page-id-15 table {
		min-width: 200px;	
	}
	body.page-id-15 table td {
		font-size: 13px;
		min-width: 200px;
		padding: 0;
	}
	body.page-id-15 table td:nth-of-type(1n + 2) {
		min-width: 150px;
	}
	
	/*-------------------- OPENING-TIMES --------------------*/
	body.page-id-9 #openingTimes {
		font-size: 12px;
	}
	
	/*-------------------- HOME --------------------*/
	body.home #gallery_bank_wrap > div:nth-of-type(1) {
		margin-left: 6%;
	} 
	body.home #gallery_bank_wrap > div:nth-of-type(1) a {
		width: 100% !important;
	}
	body.home #gallery_bank_wrap > div:nth-of-type(1) a > div {
		width: 100%;
	}
	body.home #gallery_bank_wrap > div:nth-of-type(1) a > div img {
		width: 100% !important;
	}
	
	/*-------------------- BODY --------------------*/
	html {
		background: #fff;
	}
	.custom-background-image {
		display: none;
	}
	#main {
		width: 143%;
		margin: 0 auto !important;
		padding: 10% 0;
	}	
	#content {
		background-color: #fff;
		width: 95%;
	}
	#content-bottom-widgets {
		width: 120%;
		margin-left: 7.6923%;
	}
	section.site-header-main {
		width: 95%;
	}
	#masthead {
		position: relative;
		left: 0;
		width: 98% ;
	}
	
	.entry-header {
		width: 80%;
		margin: 0 7.6923%;		
	}
	.entry-content {
		width: 80%;
		margin: 0 7.6923%;
	}
	
	#site-header-menu {
		left: 1%;
	}
	.main-navigation ul ul {
		margin-left: 0;
		width: 70%;	
	}
	
	.dropdown-toggle {
		right: 30px;
	}
	.dropdown-toggle:after {
		border-left: 1px solid #d1d1d1;
		left: 0;
		top: 0;
	}
	
	.main-navigation ul ul.sub-menu.toggled-on {
		left: 6px;
	}
	
	img.alignleft {
		clear: both;
		float: none;
		display: block;
	}
	
	#menu-footer-nav {
		margin: 0;
		width: 100%;
	}
	
	.entry-title {
		font-size: 18px;	
	}
	div.entry-content h2 {
		font-size: 16px;
	}
	div.entry-content p {
		font-size: 14px;
	}
	
	#secondary {
		clear: both;
		margin: 0 auto;
		padding: 0;
		width: 95%
	}
	#text-2,
	#text-5 {
		display: none;
	}
	section#text-6 {
		border: 0 !important;
		margin: 0 auto !important;
		max-width: 300px;
	}
	#text-6 div {
		width: 100%;
	}
	
	#secondary section div a img {
		margin: 0 0 2% 0;
		width: 100%;
	}
}
@media only
screen and (max-width:44.375em) {
	#menu-toggle {
		display: inline-block;
		margin-top: 10px;
		font-size: 1.0rem;
	}
	
	div.entry-content {
		margin-right: 7.6923% !important;
	}
}

@media only
screen and (min-width: 1920px) {
	.dropdown-toggle::after {
		border: 0;
	}
	
	#masthead {
		width: 80%;
		max-width: none;
	}
}
@media only
screen and (min-width: 2419px) {
	section.site-header-main,
	#content,
	#colophon {
		max-width: none;
	}
}