* {
	padding:0;
	margin:0;
}
body {
	position: relative;
	width: 100%;
}
.main-nav {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);;
}
body.home>header>#main-nav>ul>li:nth-child(1) {
	display: none;
}
.main-nav-ul ul {
	display: none;
	background: #333;
	
}
.main-nav-ul ul ul {
	display: none;
	background: #333;
	border-radius: 0;
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
}

.main-nav-ul ul ul ul{
	display: none;
	background: #333;
	border-radius: 0;
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
}


.main-nav a {
    font-size: 20px;
	font-weight: normal;
    color: #fff !important;
}

.main-nav>ul>li:nth-of-type(1)>a:before {
	content: "";
	background: url("./img/svg/home.svg") no-repeat ;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	width: 30px;
	height:30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(2)>a:before {
	content: "";
	background: url("./img/svg/gym.svg") no-repeat ;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	padding-left: 50%;
	top: 12px;

}

.main-nav>ul>li:nth-of-type(3)>a:before {
	content: "";
	background-image: url("./img/svg/conference.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(4)>a:before {
	content: "";
	background-image: url("./img/svg/women.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(5)>a:before {
	content: "";
	background-image: url("./img/svg/man.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(6)>a:before {
	content: "";
	background-image: url("./img/svg/apple.svg");
	display: block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(7)>a:before {
	content: "";
	background-image: url("./img/svg/photo.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(8)>a:before {
	content: "";
	background-image: url("./img/svg/clock.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}
.main-nav>ul>li:nth-of-type(9)>a:before {
	content: "";
	background-image: url("./img/svg/mapMarker.svg");
	display:block;
	position: absolute;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
	top: 12px;
}

li {
	cursor: pointer;
}

.main-nav-ul>li>ul li:hover {
	background: rgba(230,22,29,1);
	background: -moz-linear-gradient(top, rgba(230,22,29,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,42,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,22,29,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,42,1)));
	background: -webkit-linear-gradient(top, rgba(230,22,29,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,42,1) 100%);
	background: -o-linear-gradient(top, rgba(230,22,29,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,42,1) 100%);
	background: -ms-linear-gradient(top, rgba(230,22,29,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,42,1) 100%);
	background: linear-gradient(to bottom, rgba(230,22,29,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6161c', endColorstr='#a9032a', GradientType=0 );
}

.main-nav-ul>li>ul li:hover>a {
	color: #fff;
}


	.main-nav{
		width: 100%;
		margin: 60px auto;
	}
	.main-nav>ul>li>a:before {
		left: -10px; top:7px;
	}

	/* change the main nav list items on hover */

	.main-nav ul{
		left: 0;
		z-index: 100;
		border-radius: 4px;
		padding: 0px;
	}
	.main-nav ul ul{
		position: relative;
		left: 0;
		padding: 0 ;
		margin: 0;
		display:none;
	}

	.main-nav ul li {

		float: left;
		display: block;
		border: 0;
		width: 100%;

	}
	.main-nav> ul> li {
	   margin-left: 30px;

	}
	.main-nav >ul>li:nth-child(3) a{
		margin-left: -10px;

	}
	.main-nav >ul>li:nth-child(6) a{
		margin-left: -10px;

	}

	/* style all the links */
	.main-nav a {
		font-size: 20px;
		font-weight: normal;
		color: #333;
		display:block;
		padding: 12px 0;
		text-decoration: none;
		text-indent: 25px; /* abstand */
		position: relative;
	}

	/* add a larger text indent for the first drop links */
	.main-nav li li a{
		text-indent: 0px;
		padding: 10px 0 10px 10px;

	}
	/* add a larger text indent for the second drop links */
	.main-nav li li li a{
		text-indent: 0px;
		padding: 10px 0 10px 10px;
		margin: 0 0 0 10px;
	}
	/* add a larger text indent for the third drop links */
	.main-nav li li li li a{
		text-indent: 10px;
		padding: 10px 0 10px 10px;
	}

	#btn {
		display:none;
	}

	.main-nav{
		width: 100%;
		margin: 0;
		padding: 0;
		display: table;
	}
	.main-nav ul {
		width: 220px;
	}
	.main-nav li{
		width: auto;
	}
	
	.main-nav .subb-arrow:after,
	.main-nav .sub-arrow:after {
		text-indent: 16px;
	}
	.main-nav .sub-arrow:after {
		content:'\203A';
		float: right;
		position: relative;
		right: 0;
		top: -7px;
		margin: 0 0 0 7px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);

	}

	.main-nav .sub-sub-arrow:after {
		content:'\203A';
		float: right;
		position: relative;
		right: 0;
		margin-right: 25px;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);

	}

	.main-nav .subb-arrow:after {
		content:'\203A';
		float: right;
		position: relative;
		right: 0;
		top: -7px;
		margin: 0 0 0 7px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.main-nav .erster-arrow:after {
		content:'\203A';
		float: right;
		position: absolute;
		right: 0;
		margin-right: 25px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.main-nav .zweiter-arrow:after {
		content:'\203A';
		float: right;
		position: absolute;
		right: 0;
		margin-right: 25px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.main-nav .dritter-arrow:after {
		content:'\203A';
		float: right;
		position: absolute;
		right: 0;
		margin-right: 25px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.main-nav .vierter-arrow:after {
		content:'\203A';
		float: right;
		position: absolute;
		right: 0;
		margin-right: 25px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.main-nav .fünfter-arrow:after {
		content:'\203A';
		float: right;
		position: absolute;
		right: 0;
		margin-right: 25px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.selected {
		display: block !important ;

	}


	.main-nav ul ul li{
		float: none;
		clear: both;
	}
	.main-nav ul{ width: 100%; }
	.main-nav ul li { position: relative; width: auto;}

	.main-nav ul ul { width: 300px; position: absolute; }
	.main-nav>ul>li>ul { top: 45px; }
	.main-nav ul ul ul{ position: relative; }
	.main-nav-ul ul {
		margin-bottom: 10px !important;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);	
	}

	.rotate::after {
		content:'\203A';
		-webkit-transform: rotate(-90deg) !important;
		-moz-transform: rotate(-90deg) !important;
		-ms-transform: rotate(-90deg) !important;
		-o-transform: rotate(-90deg) !important;
		transform: rotate(-90deg) !important;
		top:10px !important;
		right:2px !important;
	}
	.rotatesub::after {
		content:'\203A';
		-webkit-transform: rotate(-90deg) !important;
		-moz-transform: rotate(-90deg) !important;
		-ms-transform: rotate(-90deg) !important;
		-o-transform: rotate(-90deg) !important;
		transform: rotate(-90deg) !important;
		right:2px !important;
		
	}
	@-moz-document url-prefix() {
    	.rotate::after {
			content:'\203A';
			-webkit-transform: rotate(-90deg) !important;
			-moz-transform: rotate(-90deg) !important;
			-ms-transform: rotate(-90deg) !important;
			-o-transform: rotate(-90deg) !important;
			transform: rotate(-90deg) !important;
			top:10px !important;
			right:5px !important;
		}
	}
	@-moz-document url-prefix() {
    	.rotatesub::after {
			content:'\203A';
			-webkit-transform: rotate(-90deg) !important;
			-moz-transform: rotate(-90deg) !important;
			-ms-transform: rotate(-90deg) !important;
			-o-transform: rotate(-90deg) !important;
			transform: rotate(-90deg) !important;
			right:5px !important;
		}
	}
	@supports (-ms-ime-align:auto) {
  		.rotate::after {
			content:'\203A';
			-webkit-transform: rotate(-90deg) !important;
			-moz-transform: rotate(-90deg) !important;
			-ms-transform: rotate(-90deg) !important;
			-o-transform: rotate(-90deg) !important;
			transform: rotate(-90deg) !important;
			top:10px !important;
			right:4px !important;
		} 
	}

	@supports (-ms-ime-align:auto) {
  		.rotatesub::after {
			content:'\203A';
			-webkit-transform: rotate(-90deg) !important;
			-moz-transform: rotate(-90deg) !important;
			-ms-transform: rotate(-90deg) !important;
			-o-transform: rotate(-90deg) !important;
			transform: rotate(-90deg) !important;
			right:4px !important;
		} 
	}


@media only screen and (max-width: 1460px), only screen and (max-device-width: 1460px) {
	
	#masthead{
		position: relative;
	}
	
	#main-nav {
		visibility: hidden;
		position: relative;
		background: #ddd;
		width:100%;
		top: 0px;
		margin: 0 auto;
		
	}
	#main-nav ul {
		width:100%;
		margin: 0 0 0 0 !important;
		position: relative;
		border-radius: 0px;
		

	}
		#main-nav ul li {
		width:100%;
		position: relative;
		

	}
		#main-nav>ul>li {
		background: #fff;
		margin: 0 auto;
		left:0;
		
	}
	
	#main-nav>ul {
		background-color: #ddd;
	}
	#main-nav>ul>li a {
		margin: 0 20px 0 40px !important;
	}
	#main-nav>ul>li>ul>li>ul>li a {
		margin-left: 50px !important;
	}

	#btn{
		display:inline-block;
		margin: 8px 10px;
		padding: 0;
		color:#333;
		background-color: #d1d1d1;
		outline: #E6161C;
		border-radius: 10px;
		border: 3px solid #fff;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
		width: 80px;
		font-size: 16px;
		font-weight: bold;
		font-family: Montserrat, "Helvetica Neue", sans-serif;
		height: 42px;
		letter-spacing: 1px;
		text-align: center;
		cursor: pointer;

	}
	.main-nav .sub-arrow:after {
		margin-right: 15px;
	}


	.main-nav .subb-arrow:after {
		margin-right: 15px;
		
	}
	
	.main-nav >ul>li:nth-child(3) a{
		margin-left: 0;

	}
	.main-nav >ul>li:nth-child(6) a{
		margin-left: 0;

	}
	.selected {
		display: block !important ;

	}
	.show {
		visibility:visible!important;
		display: block;
	}
	.main-nav-ul ul {
		box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
	}
}