/*
Theme Name: BodyfitCustomTemplate
Description: Basierend auf "twentysixteen", angepasst das das vorhandene CI
Author: Leonhard Kämmerer
Author URI: http://www.it-michel.de
Template: twentysixteen
Version: 1.0
Tags:
*/
/*-------------------- HTML --------------------*/
.site-header-main , .site-content{ position: relative; 
	margin: 0 auto !important;
    padding: 0px;    
    margin: 0 auto; 
	width: 80%;
    max-width: 1920px;
	position: relative;
    background:rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.15);
}
body.page::before {
	display:none;
}
body.page::after {
	display: none;
}
body.home::before {
	display: none;
}

main{ padding: 30px; background:rgba(255,255,255,1);}

#page {
	font-family: Montserrat;
}

h1, h2 {
	color: #E6161C;
    border-bottom:  3px solid #ddd;
    text-transform: uppercase;
}
.news h3:nth-of-type(1) {
	color: #686868;
    border-bottom:  0px solid #ddd;
    border-top:  0px solid #ddd;
}
.news h3 {
	color: #686868;
    border-top:  1px solid #ddd;
    border-bottom:  0px solid #ddd;
    padding: 15px 0 0;
	margin-top: 15px;
}
.news {
	margin-bottom: 4%;
}
.news > p {
	margin-bottom: 1%;
}
#text-2{
    padding: 50px 0 0 ;
    
}

span.edit-link {
	display: none;
}

.custom-logo {
    height: 60px !important;
    width: auto !important;
}

.separator-doubled{ display: none;}

/*-------------------- HEADER SLIDER --------------------*/
.slidesjs-pagination{
  text-align: left !important; 
    
}

h1.slide-title{ border: 0px !important; }

#slides.design-2 .slider-content {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    bottom: 10%;
    display: table;
    left: auto;
    padding: 0 8px 0 0;
    position: absolute;
    right: -8px;
    text-align: center;
    top: auto;
    width: auto;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);    
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;    
    
}
#slides.design-2 .slider-short-content p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0px 0px #000;
    padding: 10px 20px;
}

#slides.design-2 .slider-short-content p a {
color: #666;
}
#slides.design-2 .slider-short-content p a:hover {
    color: #e6161c;
}

#button-image {
    bottom: 100px;
    height: 64px;
    position: fixed;
    right: -180px;
    width: 260px;
    z-index: 9999;
}
#button-image:hover {
    bottom: 100px;
    position: fixed;
    right: 0;
}

/*-------------------- NAV --------------------*/
	/*-------------------- MAIN-NAV --------------------*/
/*
#menu-toggle {
	display: none;
}
div.site-header-menu {
	left: 0%;
	width: 100%;
	padding: 0 0 0 0%;
    margin: 0 auto;
    position: relative;
    z-index: 999999;
    background: transparent;
    max-width: 100%;
}
#masthead {
	width: 80%;
	padding: 0 0 0 0%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background: rgba(255,255,255,0.95);
    left:10%;
    height: 60px;
    max-width: 1920px;
}

ul#menu-main-nav li {
	width: auto;
	text-align: center;
	padding: 15px 2% 15px 40px;
}
ul#menu-main-nav li a {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: 0 auto;
    color: #333;
	cursor: pointer;
}
ul#menu-main-nav li a:after {
	content: '';
	position: absolute;
	top: -15px;
	bottom: -30px;
	left: -15px;
	right: -15px;
	height: 50px;
}

ul#menu-main-nav li:hover > a {
	color: rgb(230, 22, 28) !important;
}
ul#menu-main-nav li a:hover {
	color: rgb(230, 22, 28) !important;
}
ul#menu-main-nav > *:hover {
	color: #000000 !important;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=0 );

}
nav#site-navigation div ul li.current-menu-item {
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=0 );
}

.main-navigation a {
	padding: 0;
}

#site-navigation {
	margin: 0 !important;
}

#menu-main-nav {
	border-bottom: 0;
}

ul#menu-main-nav li{
    position: relative;  

}
ul#menu-main-nav li a{
    padding: 0px;  

}
ul#menu-main-nav > li:nth-child(1){
    margin: 0px 0px 0px 15px;
    
}
ul#menu-main-nav > li:nth-child(1):after{
    background: url("icon/svg/gym.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 

}
ul#menu-main-nav > li:nth-child(2):after{
    background: url("icon/svg/time.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 

}
ul#menu-main-nav > li:nth-child(3):after{
    background: url("icon/svg/apple.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 

}
ul#menu-main-nav > li:nth-child(4):after{
    background: url("icon/svg/photo.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 

}
ul#menu-main-nav > li:nth-child(5):after{
    background: url("icon/svg/clock.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 

}
ul#menu-main-nav > li:nth-child(6):after{
    background: url("icon/svg/signs.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 
}
ul#menu-main-nav > li:nth-child(7):after{
    background: url("icon/svg/people.svg") no-repeat ;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 8px;
    background-size: 26px 26px; 
}

ul.sub-menu li.menu-item {
	text-align: left !important;
}

ul.sub-menu {
	background-color: #fff;
	top: 50px;
}
.main-navigation ul ul.sub-menu {
	display: none;
}
.main-navigation ul ul.sub-menu.toggled-on {
	display: inline-block;
}
.main-navigation ul ul.sub-menu.toggled-on {
	display: block;
	left: 20px;
	border-bottom: 1px solid #d1d1d1;
	position: absolute;
	margin: 0;
	z-index: 99999;
	width: 250%;
}	

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #333;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	content: "\f431";
	font-size: 24px;
	left: -40px;
	top: 10px;
	position: relative;
	width: 150px;
	height: 35px;
}

#menu-main-nav li:nth-child(4) > ul.toggled-on ul {
	left: 270px;
	width: 250px;
}
#menu-main-nav li:nth-child(4) li > button {
	right: 200px;
	
}
#menu-main-nav li:nth-child(4) li > button:after {
	width: 500px;
}
#menu-main-nav li:nth-child(4) li a:after {
	display: none;
}
*/

	/*-------------------- FOOTER-NAV --------------------*/
/*
#footer-navigation {
	height: 100%;
	margin: 30px;
	border-top: 3px solid #ddd;
}
#footer-navigation h3 {
	margin: 5px 0 0 0;
}
#footer-navigation div {
	margin: 10px 0;
}
*/
		/*-------------------- CONTACT --------------------*/
/*
#contactFooter {
	float: left;
	border-right: 2px solid #ddd;
	width: 65%;
}
#footer-navigation table {
    width: 260px;
}
#footer-navigation table a {
	margin: 0;
}
#footer-navigation th, 
#footer-navigation td {
	padding: 0;
}
#footer-navigation p {
	margin: 0;
}
*/

		/*-------------------- LINKS --------------------*/
/*
#footer-navigation a {
	color: #999;
	display: inline-block;
	margin: 0 0 0 10px;
	text-decoration: none;
	text-decoration: underline;
}
#footer-navigation a:hover {
	color: #e6161c;
	text-decoration: none;
}
*/

/*-------------------- WIDGET-SIDEBAR --------------------*/
aside.widget-area section.widget_text {
	margin: 0 !important;
	border: 0;
	padding: 0;
}
aside.widget-area section.widget_text p {
	padding: 0 0 0 7px; 
}
aside.widget-area section.widget_text h3 {
	margin: 20px 0 10px 0 !important;
}

div.textwidget > table {

    width: 260px;
}
div.textwidget > table > tbody > tr > td {
	padding: 2px 7px 0 7px;
    width: 170px
}
div.textwidget > table > tbody > tr > td:first-child{
	padding: 2px 7px 0 7px;
    width: 60px;
}

table, tbody, tr, td {
	border: 0px !important;
}

h2.widget-title {
	display: none;
}

#evalBodyfit {
	border-top: 3px solid rgb(195, 199, 202);
	margin: 20px 0 10px !important;
	width: 300px !important;
	top: 573px;
}
#evalBodyfit img {
	max-width: 85%;
}
#fblink {
	background-color: #3B5998;
	padding: 5px;
	float: left;
	margin-bottom: 15px;
}

/*-------------------- PAGE-CONTENT --------------------*/
	/*-------------------- GENERAL --------------------*/
#primary {
	height: 100%;
}
#mobileEval {
	display: none;
}
body.home #content #primary #main #post-5 header.entry-header h1.entry-title {
	display: none;
}
div.entry-content h2 {

}
div.entry-content h3 {

}
div.entry-content ul {
	margin-left: 5%;
}
div.entry-content p {
	margin-top: 2%;
}
div.entry-content img {

}

	/*-------------------- HOME --------------------*/
		/*-------------------- HOME-NEWS --------------------*/
body.home div#page div.site-inner div#content div#primary main#main div.news p:last-of-type {
	border-bottom: 2px solid rgb(230, 22, 28);
	padding-bottom: 4em;
}
body.home div#page div.site-inner div#content div#primary main#main div.news h2.newsTopic {
	margin-left: 2%;
}
body.home div#page div.site-inner div#content div#primary main#main div.news h2:not(.newsTopic) {
	margin-bottom: 1em;
}
body.home div#page div.site-inner div#content div#primary main#main div.news p {
	margin-left: 6%;
}
		/*-------------------- HOME-CONTENT --------------------*/
body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content div.separator-doubled {
	display: none;
}

body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content * {
	clear: none !important;
}

body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content div.aboutUs {
	display: block;
}
body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content div.aboutUs h3:nth-of-type(1){
	margin-top: 1em;
}
body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content div.aboutUs img {
	float: left;
	margin: 0 2% 0 0; 
	margin-left: 6%;
}

body.home div#page div.site-inner div#content div#primary main#main article#post-5 div.entry-content div.goal {
	margin: 5% 0 0 0;
}

div#gwg_standart_thumbnails_0 a img {
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}
			/*-------------------- HOME - LIGHTBOX SOCIALCONS --------------------*/
body.home #___plusone_0 {
	float: left !important;
}


		/*-------------------- OPENING-TIMES-CONTENT --------------------*/

#openingTimes tr td p {
	text-align: center;
	margin: auto;
}

		/*-------------------- IMPRINT-CONTENT --------------------*/
body.page-id-15 > #content > #primary > #main > #post-15 > div.entry-content > table {
	width: 50% !important;
}

/*-------------------- ELEMENTS --------------------*/
	/*-------------------- SIDE_WIDGET --------------------*/
#contactAsideWidget p {
	margin-bottom: 2%;
}

	/*-------------------- GALLERY --------------------*/
#main img {
	margin-top: 2%;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

#main .robo-maps-wrap img {
	margin-top: 2%;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
}

div.pp_overlay{
    z-index: 99999;
}

div.pp_pic_holder{
    z-index: 99999999;
}

#gallery_bank_wrap .dyn_css {
	border: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}
#gallery_bank_wrap .dyn_css img {
	margin-top: 0;
}

#bwg_standart_thumbnails_0 {
	max-width: 680px !important;
}
#bwg_standart_thumbnails_0>a.bwg_lightbox_0>span>span {
	height: 180px !important;
	width: 210px !important;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}
#bwg_standart_thumbnails_0>a.bwg_lightbox_0>span>span>span {
	background: #eee;
	border-radius: 5px;
	height: 180px !important;
	width: 210px !important;
}

img.bwg_img_custom {
	margin: 0 auto !important;
	height: 100% !important;
	width: auto !important;
}

i.fa-info {
	display: none !important;
}

#bwg_standart_thumbnails_0 a.first-page,
#bwg_standart_thumbnails_0 a.first-page-0,
#bwg_standart_thumbnails_0 a.last-page, 
#bwg_standart_thumbnails_0 a.last-page-0 {
	display: none;
}

/*-------------------- MEDIA --------------------*/

/* 1. Ansicht Tablet */
@media only
screen and (max-width:1200px),
screen and (min-device-width:44.375em) and (max-device-width:1200px) and (orientation: portrait) {
	
	/*-------------------- NAVIGATION --------------------*/	
	ul#menu-main-nav > li:nth-child(1){
		margin: 0px;
	}    
    
	#menu-toggle {
		display: inline-block;
		margin: 12px 4% 10px;
		color: #333;
		background-color: #d1d1d1;
		outline: #E6161C;
		border: 0;
		border-radius: 1px;
		border: 3px solid #fff;
		-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);	
	}
	#menu-toggle:hover,
	#menu-toggle:focus {
		color: 	#fff;
		outline: #E6161C;
		background: #E6161C;
		border: 3px solid #fff;
	}
	#menu-toggle.toggled-on {
		color: #fff;
		background: #E6161C;
	}
	
	.dropdown-toggle {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: #1a1a1a;
		content: "";
		height: 48px;
		padding: 0;
		position: absolute;
		right: 30px;
		text-transform: none;
		top: 10px;
		width: 48px;
	}
	.dropdown-toggle:after {
		border-left: 1px solid #d1d1d1;
		content: "\f431";
		font-size: 24px;
		left: 0;
		top: 0;
		position: relative;
		width: 48px;
	}
	.dropdown-toggle.toggled-on {
		height: 40px;
		margin: 2px auto;
	}
	.dropdown-toggle.toggled-on:after {
		border-left: 1px solid #d1d1d1;
	}
	.dropdown-toggle:focus:after {
		border-left: 1px solid #d1d1d1;
		color: #333;
	}
	.dropdown-toggle:hover {
		color: #333 !important;
		outline: #fff;
	}
	.dropdown-toggle:focus {
		color: #333 !important;
		outline: #fff;
	}
	button.toggled-on:focus {
		outline: #fff;
		color: #fff !important;
	}

	div.header-img {
		margin: 0 !important;
	}
	#site-header-menu {
		display: none;
		top: 0px;
	}
	#site-header-menu.toggled-on {
		display: block;
	}  
    #menu-main-nav { 
		background: #fff; 
		border-top: 1px solid #d1d1d1;
	}
	#menu-main-nav li {
		border: 0;
		border-top: 1px solid #d1d1d1;
	}
	#menu-main-nav > li:nth-child(1) {
		border-top: 0;
	}
	#menu-main-nav > li:last-child {
		border-bottom: 1px solid #d1d1d1;
	}
	.main-navigation ul ul.sub-menu.toggled-on:after {
		display: none;
	}
	.main-navigation ul ul.sub-menu.toggled-on:before {
		display: none;
	}

	.main-navigation ul ul.sub-menu.toggled-on {
		display: block;
		margin: 0;
		top: 10px;
		left: 17px;
		z-index: 99999;
		position: relative;
		width: 100%;
		border: 0;
	}	
	
	div.site-header-menu {
		left: 0%;
		width: 100%;
		padding: 0 0 0 0%;
		margin: 0 auto;
		position: relative;
		z-index: 999999;
		background: transparent;
		max-width: 100%;
	}
	ul#menu-main-nav li {
		width: 100%;
		max-width: 100%;
        text-align: left;
	}	
	
	div.header-image {
		margin: 0;
	}
	aside.widget-area section.widget_text p {
		padding: 0;
	}
	div.textwidget table {
		width: 100%;
	}
	div.textwidget > table > tbody > tr > td:first-child {
		padding-left: 0;
	}
	
	section#text-6 {
		width: 200px !important;
	}
	
}
/* 2. Ansicht Phone */
@media only
screen and (max-width:1030px),
screen and (min-device-width:321px) and (max-device-width:1030px) and (orientation: portrait) {
	#footer-navigation div {
		border-right: 0;
	}

	#text-8_clone {
		display: none !important;
	}
	#text-8 {
		position: relative !important;
	}

	#secondary button {
		font-size: 0.9rem !important;
	}
}

/* 3. Ansicht Phone */
@media only
screen and (max-width:970px),
screen and (min-device-width:321px) and (max-device-width:970px) and (orientation: portrait) {
    
    #slides.design-2 .slider-content {display: none;}
    #mobileEval {
		display: block;
		width: 85%;
		color: #E6161C;
		margin: 0 auto 20px;
		border-radius: 4px;
		box-shadow: 0px 0px 2px 2px;
	}
	#mobileEval a {
		margin: 0 auto;
		display: table;
		color: #E6161C;
		font-weight: 600;
		font-size: 20px;
	}
    
	/*-------------------- IMPRINT --------------------*/
	body.page-id-15 h3:nth-of-type(2) {
		margin-top: -30px;
	}
	body.page-id-15 table {
		min-width: 200px;	
	}
	body.page-id-15 table td {
		font-size: 13px;
		min-width: 200px;
		padding: 0;
	}
	body.page-id-15 table td:nth-of-type(1n + 2) {
		min-width: 150px;
	}
	
	/*-------------------- OPENING-TIMES --------------------*/
	body.page-id-9 #openingTimes {
		font-size: 12px;
	}
	
	/*-------------------- HOME --------------------*/
	body.home #gallery_bank_wrap > div:nth-of-type(1) {
		margin-left: 6%;
	} 
	body.home #gallery_bank_wrap > div:nth-of-type(1) a {
		width: 100% !important;
	}
	body.home #gallery_bank_wrap > div:nth-of-type(1) a > div {
		width: 100%;
	}
	body.home #gallery_bank_wrap > div:nth-of-type(1) a > div img {
		width: 100% !important;
	}
	
	/*-------------------- BODY --------------------*/
	html {
		background: #fff;
	}
	.custom-background-image {
		display: none;
	}
	#main {
		width: 143%;
		margin: 0 auto !important;
		padding: 10% 0;
	}	
	#content {
		background-color: #fff;
		width: 95%;
	}
	#content-bottom-widgets {
		width: 120%;
		margin-left: 7.6923%;
	}
	section.site-header-main {
		width: 95%;
	}
	#masthead {
		position: relative;
		left: 0;
		width: 100% ;
	}
	
	.entry-header {
		width: 80%;
		margin: 0 7.6923%;		
	}
	.entry-content {
		width: 80%;
		margin: 0 7.6923%;
	}
	
	#site-header-menu {
		left: 1%;
	}
	.main-navigation ul ul {
		margin-left: 0;
		width: 70%;	
	}
	
	.dropdown-toggle {
		right: 30px;
	}
	.dropdown-toggle:after {
		border-left: 1px solid #d1d1d1;
		left: 0;
		top: 0;
	}
	
	.main-navigation ul ul.sub-menu.toggled-on {
		left: 6px;
	}
	
	img.alignleft {
		clear: both;
		float: none;
		display: block;
	}
	
	.entry-title {
		font-size: 18px;	
	}
	div.entry-content h2 {
		font-size: 16px;
	}
	div.entry-content p {
		font-size: 14px;
	}
	
	div.news {
		margin: 0 7.6923% 4%; 
	}
	
	#secondary {
		clear: both;
		margin: 0 auto;
		padding: 0 0 0 10%;
		width: 95%
	}
	#text-2,
	#text-5 {
		display: none;
	}
	section#text-6 {
		border: 0 !important;
		margin: 0 auto !important;
		max-width: 300px;
	}
	#text-6 div {
		width: 100%;
	}
	
	#secondary section div a img {
		margin: 0 0 2% 0;
		width: 100%;
	}
	/*-------------------- FOOTER-NAV --------------------*/
	#footer-navigation {
		width: 143%;
		padding: 0 0 0 19%;
		margin: 0 !important;
	}
	#footer-navigation h3 {
		font-size: 14px;
	}
	#footer-navigation p {
		width: 100%;
	}
	#footer-navigation a {
		margin: 0;
	}
	#contactFooter table > tbody > tr > td:nth-child(1) {
		width: 70px;
	}
}
@media only
screen and (max-width:360px) {
	#footer-navigation div {
		clear: both;
	}	
}

@media only
screen and (max-width:44.375em) {
	#menu-toggle {
		display: inline-block;
		margin-top: 10px;
		font-size: 1.0rem;
	}
	
	div.entry-content {
		margin-right: 7.6923% !important;
	}
}

@media only
screen and (min-width: 1920px) {
	.dropdown-toggle::after {
		border: 0;
	}
	
	#masthead {
		width: 80%;
		max-width: none;
	}
}
@media only
screen and (min-width: 2419px) {
	section.site-header-main,
	#content,
	#colophon {
		max-width: none;
	}
}