/*
Theme Name: BodyfitCustomTemplate_DarkGrid
Description: Basierend auf "twentysixteen", angepasst das das vorhandene CI. Überarbeitung aus dem BodyfitCustomTemplate, daher Namensanpassung
Author: Leonhard Kämmerer
Author URI: http://www.it-michel.de
Template: twentysixteen
Version: 2.0
Tags:grid, dark-layout, chalkboard
*/

/************************************************************************/
/*======================================================================*/
/*		I) GENERAL														*/
/*======================================================================*/
/************************************************************************/
html {
	margin: 0 auto !important;
	padding: 0px;
	background: url("./bg_crop.JPG") no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

body{ 
	position: relative; 
	margin: 0 auto !important;
	padding: 0px;
	margin: 0 auto;
	background: none;
}

#button-image-offer,
#button-image-contact {
	position: fixed;
	right: -120px;
	top: 808px;
	width: 170px;
	padding: 12px 12px 12px 50px;
	background: #fff;
	font-size: 18px;
	border-radius: 3px;
	-webkit-box-shadow: -5px 6px 30px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 6px 30px 4px rgba(0,0,0,0.75);
	box-shadow: -5px 6px 30px 4px rgba(0,0,0,0.75);
	z-index: 999999;
}
#button-image-contact {
	top: 867px;
	cursor: pointer;
}
#button-image-offer:before {
	content: "";
	background-image: url("./img/svg/gift.svg");
	display:block;
	position: absolute;
	left: 10px;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
}
#button-image-contact:before {
	content: "";
	background-image: url("./img/svg/contact.svg");
	display:block;
	position: absolute;
	left: 10px;
	width: 30px; 
	height: 30px;
	background-size: 30px 30px;
}
#mobileEval {
	display: none;
}
/************************************************************************/
/*======================================================================*/
/*		II) LOGO														*/
/*======================================================================*/
/************************************************************************/
#logo {
	position: relative;
	display: none;
	margin: 50px auto;
}
body.home #masthead #logo {
	display: table !important;
}
#logo a {
	border-radius: 50%;	
	-webkit-box-shadow: 0px 3px 30px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 30px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 30px 4px rgba(0,0,0,0.75);
}
/************************************************************************/
/*======================================================================*/
/*		III) MENU														*/
/*======================================================================*/
/************************************************************************/
nav.main-nav {
	position: relative;
}
body:not(.home) nav.main-nav {
	position: fixed;
	z-index: 99999999;
}

/************************************************************************/
/*======================================================================*/
/*		IV) SLIDER														*/
/*======================================================================*/
/************************************************************************/
section.site-header-main {
	padding: 55px 0 0;
	margin: -55px 0 0;
}
main>article {
	display: none;
} 
div.header-image {
	position: relative;
	width: 100%;
}
body:not(.home) div.header-image {
	top: 59px;
}
h1.slide-title,
ul.slidesjs-pagination {
	display: none;
}
/************************************************************************/
/*======================================================================*/
/*		V) SIDEBAR														*/
/*======================================================================*/
/************************************************************************/
aside#secondary {
	display: none;
	margin: 0;
}
aside#secondary.open {
	background: #fff;
	margin: 0 !important;
	padding: 10px;
	position: fixed;
	right: 70px;
	width: initial;
	top: 65px;
	z-index: 999;
	-webkit-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
}
.widget {
	border-top: 0px;
}
aside#secondary>section#text-8 {
	position: relative !important;
	padding: 0;
}
aside#secondary h3 {
	margin: 15px 0 0 0;
}
#contactAsideWidget {
	margin-bottom: 20px;
}
#contactAsideWidget p {
	margin-bottom: 15px !important;
}
#socialshareprivacy {
	height: 20px;
}
/************************************************************************/
/*======================================================================*/
/*		VI) CONTENT														*/
/*======================================================================*/
/************************************************************************/

/********* LANDING PAGE **********/
#main.site-main {
	margin-bottom: 0 !important;
}
body.home #content #primary {
	background: transparent;
	width: 100%;
	float: none;
}
#content {
	position: relative;
	display: inline-flex;
}
body:not(.home) #content {
	margin-top: 100px;
}

body.home #content #primary #main #grid_container {
	position: relative;
	width: 100%;
}
body.home #content #primary #main #grid_container article {
	position: relative;
	width: 24%;
	display: block;
	background: transparent;
	margin: 30px 0 2% 7%;
	max-height: calc(24vw - 6vw);
	overflow: hidden;
	float: left;
	color: #fff;
	-webkit-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.75);
}

body.home #content #primary,
body.home #content #primary #main {
	width: 100%;
}
article.grid_element header {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	color: #fff;
}
article.grid_element img {
	height: auto;
	width: 100%;
}

#contact_tile {
	height: calc(24vw - 6vw);
	background: #333 !important;
}
#contact_tile h2 {
	color: #fff !important;
	border: 0px !important;
	text-align: left !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
	font-weight: 500 !important;
	font-size: 18pt !important;
}
#contact_tile a {
	display: block;
	float: none !important;
	z-index: 99999;
	color: #fff;
	margin: 0 20px 10px 20px;
}
#contact_tile a p {
	margin: 0 !important;
}
#contact_tile a tinyfont {
	margin-top: 5px;
}
#contact_tile img {
	width: 50%;
	display: table;
	margin: 15px auto;
}

#newstile {
	height: calc(24vw - 6vw);
}

#fbtile {
	height: calc(24vw - 6vw);
	background: #4267b2 !important;
}
#fbtile a {
	width: 100%;
	height: 90%;
	display: block;
}

/********* subpages **********/
#primary {
	display: block;
	margin: 0 auto;
	width: 100%;
	background: transparent;
}
#main {
	display: block;
	margin: 0 auto;
	width: 70%;
	background: transparent;
}
#main h2 {
	color: #b30000;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #e6161C;
	padding-bottom: 15px;
	margin: 20px 0 20px 0;
}
#main h3 {
	color: #fff;
	font-weight: 500;
	font-size: 16pt;
}
#main p {
	color: #fff;
	clear: both;
}
#main p>img {
	margin: 2%;
	width: 35%;
}
#main p>img:first-child {
	float: left;
	display: inline-block;
}
#main p>img:last-child {
	display: inline-block;
	margin-top: 0px !important;
}
#main p>img:last-child:after {
	clear: both;
}
#main ul,
#main ol {
	color: #fff;
	margin-left: 5%;
	width: 100%;
	display: block;
	clear: both;
}

div.news h3 {
	color: #b30000 !important;
	border-bottom: 1px solid #e6161c;
	text-align: center;
	margin-bottom: 25px;
}
div.news h4 {
	color: #fff;
}
/************************************************************************/
/*======================================================================*/
/*		FOOTER															*/
/*======================================================================*/
/************************************************************************/
#colophon {
	display: none;
}
#footer-navigation {
	display: table;
	width: 100%;
	color: #fff;
	padding: 2% 0;
	background: rgba(0, 0, 0, 0.8);
}

#contactFooter {
	width: 44%;
	display: inline-block;
	margin: 0 0 0 7%;
	border-right: 1px solid #fff;
}
#contactFooter table {
	border: 0;
}
#contactFooter table * {
	border: 0;
}
#contactFooter table tr td:nth-child(1) {
	width: 15%;
}

#footerLinks {
	width: 44%;
	display: inline-block;
	margin: 0 0 0 5%;
}