html {
	height: 100%;
	background-image: url("../img/bg_chalkboard.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#main {
	width: 100%;
	position: relative;
	height: auto;
}
article {
	width: 150px;
	float: left;
	margin-right: 1.5%;
	height: 150px;
	background: #fff;
}
#main>article:nth-child(4n) {
	clear: both;
	margin-right: 0;
}